@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("google-material-icon.woff2") format("woff2");
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: text-bottom;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  background-color: black;
  color: lightgrey;
  font-family: Verdana, sans-serif;
}

div.container {
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: 5px;
  padding-right: 12px;
}

.red {
  color: red;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  justify-content: left;
  text-align: left;
  padding-left: 5px;
}

.title {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

span.sliderLabel {
  padding-left: 5px;
  padding-right: 5px;
}

div.content {
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
}

div.bodypart-text {
  width: 45%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.bodypart-select {
  width: 55%;
}

.row-order {
  width: 13%;
}

.extra-data-ctrl {
  width: 14%;
}

.flexbox {
  display: flex;
}

.flex-box {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.almost-full-height {
  height: 98%;
}

.full-width {
  width: 100%;
}

.full-width-height {
  width: 100%;
  height: 100%;
}

.visContainer {
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}

.hide {
  display: none;
}

.data-info {
  justify-content: left;
  text-align: left;
  width: 100%;
  display: flex;
}

.almost-full-width {
  width: 95%;
}

.ninty-width {
  width: 90%;
}

.eighty-width {
  width: 80%;
}

.sixty-width {
  width: 60%;
}

.fifty-width {
  width: 50%;
}

.fourty-width {
  width: 40%;
}

.thirty-width {
  width: 30%;
}

.twenty-width {
  width: 20%;
}

.fifteen-width {
  width: 15%;
}

.filter-char-width {
  width: 7.5em;
}

.filter-type-width {
  width: 6.8em;
}

.ten-width {
  width: 10%;
}

.seventy-width {
  width: 70%;
}

.half-width {
  width: 50%;
}

.small-text {
  font-size: 0.5rem;
}

.small-mid-text {
  font-size: 0.65rem;
}

.mid-text {
  font-size: 0.7rem;
}

.mini-half-width {
  width: 48%;
}

.one-third-width {
  width: 33.3%;
}

.two-third-width {
  width: 66.6%;
}

div.disconnect {
  display: inline-flex;
  padding-right: 3px;
  /*padding-left: 9px;*/
}

.padright-5px {
  padding-right: 5px;
}

.padright-15px {
  padding-right: 15px;
}

.marginright-15px {
  margin-right: 15px;
}

.marginright-5px {
  margin-right: 5px;
}

.padleft-5px {
  padding-left: 5px;
}

.margin-left-right-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.margin-left-5 {
  margin-right: 5px;
}

.ble-conn {
  float: left;
  margin: 5px;
}

.record-conn {
  float: right;
  margin: 5px;
}

div.device-info {
  width: 72%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

div.data-ctrl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

div.polar-sensor-row {
  height: 12.5%;
  min-height: 115px;
  margin-left: 5px;
}
div.float-left {
  float: left;
}

div.polar-sensor-left-panel {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.dark-input {
  background-color: #181a1b !important;
  /*width: 95% !important;*/
  color: #e8e8e8;
}

.form-switch {
  margin: 0;
}

.bold-text {
  font-weight: bold;
}

.flex-grow {
  flex-grow: 1;
}

.input-width-4_5 {
  width: 4.5em;
}

.input-width-3_5 {
  width: 3.5em;
}

.freq-input-width {
  width: 4em;
}

.custom-bodypart-input-width {
  width: 8em;
}

.config-div {
  border-left: 2px solid #79797e;
  /*border-right: 2px solid #79797e;*/
}

.hide-overflow {
  display: hide-overflow;
}

/*input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
}
input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-outer-spin-button:hover {
  background-color: #1d201f;
}
*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  filter: invert(1);
}
